<%- include('header'); -%>

<main class="container">
  <h1><%= title %></h1>
  <form action="/items/search" method="get" class="d-flex">
    <div class="input-group">
      <input type="text" name="search" required autofocus class="form-control" id="searchInput">
      <button type="submit" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </button>
    </div>
    &nbsp;
    <a href="/items/new" class="btn btn-outline-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>
  </form>
  <div class="row">
    <% if (items.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(item => { %>
            <tr>
              <td><%= item.description %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
</main>

<%- include('footer') -%>
