<%- include('header'); -%>

<main class="container">
  <h1><%= title %></h1>
  <form action="/items" method="post">
    <div class="mb-3">
      <label for="descriptionInput" class="form-label">Description</label>
      <input type="text" name="description" required autofocus class="form-control" id="descriptionInput">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Ajouter au catalogue</button>
      <a href="/items/search" class="btn btn-outline-secondary">Retour</a>
    </div>
  </form>
</main>

<%- include('footer') -%>
